* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
}
header {
  height: 10vh;
  background-color: #004d7c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav {
  width: 70%;
}
#header-title {
  margin-right: 10vw;
  font-size: 2rem;
  color: #fff;
  font-style: italic;
}
#header-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item {
  margin: 2vh 2vw;
}
.list-link {
  color: #fff;
  font-size: 1.5rem;
}

/* --- PRODUCTS CARD --- */
#products-container {
  margin-top: 5vh;
  text-align: center;
}
.card-container {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40vh;
  padding: 10px;
  margin: 7px;
  margin-left: 4%;
  text-align: center;
  border-radius: 5px;
  background-color: #48cae4;
  box-shadow: #ade8f4 5px 5px;
}

#card-title {
  font-size: 1.3rem;
}
.card-info {
  font-size: 1.2rem;
  margin: 6px;
  font-style: italic;
}
.product-img {
  width: 30%;
  height: 80%;
}
.info-container {
  width: 60%;
}
