* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
}
header {
  height: 10vh;
  background-color: #004d7c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav {
  width: 60%;
}
#header-title {
  margin-right: 10vw;
  font-size: 2rem;
  color: #fff;
  font-style: italic;
  font-family: roboto;
}
#header-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item {
  margin: 2vh 2vw;
}
.list-link {
  color: #fff;
  font-size: 1.5rem;
  font-family: roboto;
}
