#contenedor-contador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 1vh;
  height: 30%;
  background-color: #ade8f4;
  border-radius: 5px;
}
.bnt-Container {
  color: #48cae4;
  background-color: transparent;
  margin: 0 2vw;
  font-size: 2rem;
}
#add-cart {
  width: 50%;
  margin-top: 1vh;
  height: 30%;
  background-color: #ade8f4;
  border-radius: 5px;
  font-size: 1.4rem;
}
